/* /Pages/Shared/Components/ProductList/Default.cshtml.rz.scp.css */
list-group[b-3g0ss95fmb] {
    list-style-type: none;
    padding: 0;
}
.list-group-item[b-3g0ss95fmb] {
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
} 
/* /Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-fc9hrcpymx] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-fc9hrcpymx] {
  color: #0077cc;
}

.btn-primary[b-fc9hrcpymx] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-fc9hrcpymx], .nav-pills .show > .nav-link[b-fc9hrcpymx] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-fc9hrcpymx] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-fc9hrcpymx] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-fc9hrcpymx] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-fc9hrcpymx] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-fc9hrcpymx] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
