<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/_MyLayout.css" />
</head>
<body>
    <header>
        <h1>Ứng dụng Razor Pages</h1>
        <nav>
            <a href="/">Trang chủ</a> |
            <a href="/About">Giới thiệu</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy;2025-Razor Pages App</p>
    </footer>
</body>

