@page
@model MyApp.Namespace.AboutModel
@{
    Layout = "/Pages/Shared/_MyLayout.cshtml";
    // Hoặc
    // Layout = "_Layout";
    ViewData["Title"] = "Trang chính";
}
<h2>This is the about page</h2>